<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ page.description }}">
  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css /css/core.min.css -->
  <link rel="stylesheet" href="/styles/core.css">
  <!-- endbuild -->
  <link href='http://fonts.googleapis.com/css?family=Dynalight&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
{% block micro %}
<div itemscope itemtype="http://data-vocabulary.org/Organization">
  <meta itemprop="name" content="Hotel Piano"/>
  <meta itemprop="tel" content="+48 81 458-38-33"/>
  <div itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
    <meta itemprop="street-address" content="ul. Jana Pawła II 19"/>
    <meta itemprop="locality" content="Lublin"/>
    <meta itemprop="postal-code" content="20-535"/>
  </div>
  <meta itemprop="url" content="http://piano.lublin.pl"/>
  <div itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
    <meta itemprop="latitude" content="51.228541" />
    <meta itemprop="longitude" content="22.515752" />
  </div>
</div>
{% endblock %}
{% block js %}{% endblock %}
<!-- build:js /scripts/ga.min.js -->
<script src="/scripts/ga.js"></script>
<!-- endbuild -->
</body>
</html>
