{% extends "layouts/page-default.html" %}

{% block body %}
<main>
  <section class="section section_full-width">

    {% set section = sections.gallery %}
    <h2 class="section__title section__title_hidden">{{ section.title }}</h2>
    <div class="gallery-dummy gallery-dummy_business-meetings"></div>

  </section>


  <section class="section section_article">
    <div class="container">

      {% set section = sections.conferences %}
      <h2 class="section__title">{{ section.title }}</h2>

      <div class="article article_with-aside">
        {% for paragraph in section.description %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>

      <ul class="list list_article-aside">
        {% for item in section.list %}
        <li class="list__item list__item_image list__item_image_tick">{{ item }}</li>
        {% endfor %}
      </ul>

    </div>
  </section>
</main>
{% endblock %}
