{% extends "layouts/page-contact.html" %}

{% block body %}
<main class="main">

  <div class="section">
    <div class="container">

      {% set section = sections.mini_features %}

      <div class="features-group">
        {% for feature in section.features %}
        <div class="mini-feature">
          <h2 class="mini-feature__title">{{ feature.title }}</h2>
          {% for paragraph in feature.description %}
          <p class="mini-feature__description mini-feature__description_multiline">{{ paragraph }}</p>
          {% endfor %}
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
  <!--
  <div class="section">
    <div class="container">

      <form class="form" action="">
        <div class="form__row">
          <label class="label" for="email">Twój adres e-mail</label>
          <input class="input-text" type="email" name="email" id="email" placeholder="Twój adres e-mail" required>
        </div>

        <div class="form__row">
          <label class="label" for="content">Wiadomości</label>
          <textarea class="textarea" rows="10" name="content" id="content" placeholder="Wiadomość"></textarea>
        </div>

        <div class="form__row">
          <button class="submit" type="submit">Wyślij</button>
        </div>
      </form>

    </div>
  </div>
  -->
</main>
{% endblock %}
