{% extends "layouts/page-default.html" %}

{% block body %}
<main>

  <section class="section">
    <div class="container">

      {% set section = sections.intro %}

      <div class="features-group">
        {% for feature in section.features %}
        <div class="feature">
          {% set image = feature.image %}
          <img class="feature__image" src="{{ image.src }}" alt="{{ image.alt }}">
          <h2 class="feature__title">{{ feature.title }}</h2>
          <p class="feature__description">{{ feature.description }}</p>
        </div>
        {% endfor %}
      </div>

    </div>
  </section>

  <section class="section section_full-width">

    {% set section = sections.gallery %}
    <h2 class="section__title section__title_hidden">{{ section.title }}</h2>
    <div class="gallery-dummy gallery-dummy_inline gallery-dummy_inline_hotel"></div>

  </section>

  <div class="section">
    <div class="container">

      {% set section = sections.mini_features %}

      <div class="features-group">
        {% for feature in section.features %}
        <div class="mini-feature">
          {% set image = feature.image %}
          <img class="mini-feature__image" src="{{ image.src }}" alt="{{ image.alt }}">
          <h2 class="mini-feature__title">{{ feature.title }}</h2>
          <p class="mini-feature__description">{{ feature.description }}</p>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
  <a name="fitness"></a>
  <section class="section section_full-width">

    {% set section = sections.gallery %}
    <h2 class="section__title section__title_hidden">{{ section.title }}</h2>
    <div class="gallery-dummy gallery-dummy_spa"></div>

  </section>

  <section class="section">
    <div class="container">

      {% set section = sections.relax %}
      <h2 class="section__title section__title_hidden">{{ section.title }}</h2>
      <p class="section__description">{{ section.description }}</p>

      <div class="features-group">
        {% for feature in section.features %}
        <div class="feature">
          {% set image = feature.image %}
          <img class="feature__image" src="{{ image.src }}" alt="{{ image.alt }}">
          <h2 class="feature__title">{{ feature.title }}</h2>
          <p class="feature__description">{{ feature.description }}</p>
        </div>
        {% endfor %}
      </div>

    </div>
  </section>

  <section class="section section_full-width">

    {% set section = sections.gallery %}
    <h2 class="section__title section__title_hidden">{{ section.title }}</h2>
    <div class="gallery-dummy gallery-dummy_gym"></div>

  </section>
</main>
{% endblock %}
