{% extends "layouts/page-landing.html" %}

{% block body %}
<main id="content" class="main">

  <section class="section">
    <div class="container">

      {% set section = sections.hotel %}
      <h2 class="section__title">{{ section.title }}</h2>
      <p class="section__description">{{ section.description }}</p>

      <div class="box-group"> <!-- for nth-child to work -->
        {% for promotion_box in section.promotion_boxes %}
        <div class="subsection subsection_box subsection_box_theme_promotion-box">
          <a href="{{ promotion_box.href }}" title="{{ promotion_box.title }}">
          <img class="subsection__heading-photo" src="{{ promotion_box.image.src }}" alt="{{ promotion_box.image.title }}">
          </a>
          <div class="subcontainer">
            <h3 class="subsection__title"><a href="{{ promotion_box.href }}">{{ promotion_box.title }}</a></h3>
            <p class="subsection__subtitle">{{ promotion_box.subtitle }}</p>
            <!--<p class="subsection__description">{{ promotion_box.description }}</p>-->
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section>

  <section class="section section_rooms-landing section_theme_dark">
    <div class="container">

      {% set section = sections.rooms %}
      <h2 class="section__title section__title_theme_dark">{{ section.title }}</h2>
      <p class="section__description section__description_theme_dark">{{ section.description }}</p>

      <nav class="subsection">
        {% set nav = section.navigation.room_types %}
        <h3 class="subsection__title subsection__title_hidden">{{ nav.title }}</h3>
        <ul class="nav-list nav-list_rooms">
          {% for anchor in nav.anchors %}
          <li class="nav-list__item nav-list__item_rooms">
            <a class="nav-list__anchor nav-list__anchor_image nav-list__anchor_image_{{ anchor.class }}" href="{{ anchor.href }}" title="{{ anchor.text }}">
            {{ anchor.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>

    </div>
  </section>

  <section class="section">
    <div class="container">
      {% set section = sections.info %}
      <h2 class="section__title section__title_hidden">{{ section.title }}</h2>
      <p class="section__description section__description_hidden">{{ section.description }}</p>

      <div class="box-group">
        <section class="subsection subsection_box">
          {% set subsection = section.subsections.reception %}
          <h3 class="subsection__title">{{ subsection.title }}</h3>
          <p class="subsection__description">{{ subsection.description }}</p>
          <ul class="list">
            {% for item in subsection.list %}
            <li class="list__item list__item_image list__item_image_tick">
              {{ item.content }}
              <br>
              <small>{{ item. description }}</small>
            </li>
            {% endfor %}
          </ul>
        </section>
        <section class="subsection subsection_box">
          {% set subsection = section.subsections.basics %}
          <h3 class="subsection__title">{{ subsection.title }}</h3>
          <p class="subsection__description">{{ subsection.description }}</p>
          <ul class="list">
            {% for item in subsection.list %}
            <li class="list__item list__item_image list__item_image_tick">{{ item }}</li>
            {% endfor %}
          </ul>
        </section>
        <section class="subsection subsection_box">
          {% set subsection = section.subsections.localization %}
          <h3 class="subsection__title">{{ subsection.title }}</h3>
          <p class="subsection__description"><a href="{{ subsection.route.href}}">{{ subsection.route.text }}</a><br>{{ subsection.description }}</p>
          <div id="contact-map" class="map">
            <noscript>
              <img src="{{ subsection.map.src }}" alt="{{ subsection.map.alt }}" class="static-map">
            </noscript>
          </div>
        </section>
      </div>
    </div>

  </section>

  <section class="section section_opinions section_theme_dark">
    <div class="container">

      {% set section = sections.opinions %}
      <h2 class="section__title section__title_theme_dark">{{ section.title }}</h2>
      <p class="section__description section__description_theme_dark section__description_hidden">{{ section.description }}</p>

      <nav class="subsection opinions-switcher">
        {% set nav = section.navigation.opinions_switcher %}
        <h3 class="subsection__title subsection__title_hidden">{{ nav.title }}</h3>
        <ul class="nav-list">
          {% for anchor in nav.anchors %}
          <li class="nav-list__item nav-list__item_inline">
            <a class="nav-list__anchor nav-list__anchor_image nav-list__anchor_image_{{ anchor.class }}"
               href="{{ anchor.href }}" title="{{ anchor.text }}">{{ anchor.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      {% for opinion in section.list %}
        <div class="subsection opinion">
          <p class="opinion__content">{{ opinion.content }}</p>
          <p class="opinion__author">{{ opinion.author }}</p>
          <p class="opinion__source">{{ section.labels.source }}: {{ opinion.source }}</p>
        </div>
      {% endfor %}

    </div>
  </section>
</main>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="scripts/vendor/jquery-1.11.3.min.js"><\/script>')</script>
<script src="http://stayforlonger.com/widget/link.js" id="clientID" data="NLhTbrRvtWNI9qKYrpZh9TkP" type="text/javascript"></script>
<!-- build:js /scripts/landing.min.js -->
<script src="/scripts/landing.js"></script>
<!-- endbuild -->
<!-- build:js /scripts/gm.min.js -->
<script src="/scripts/gm.js"></script>
<!-- endbuild -->
<!-- build:js /scripts/ps.min.js -->
<script src="/scripts/ps.js"></script>
<!-- endbuild -->
<script src="http://wis.upperbooking.com/hotelpiano/booking?locale={{ language }}" async></script>
{% endblock %}

