{% extends "layouts/page-default.html" %}

{% block body %}
<main class="main">

  <section class="section section_full-width">

    {% set section = sections.gallery %}
    <h2 class="section__title section__title_hidden">{{ section.title }}</h2>
    <div class="gallery-dummy gallery-dummy_inline gallery-dummy_inline_restaurant"></div>

  </section>


  <section class="section">

    {% set section = sections.menu %}
    <h2 class="section__title section__title_hidden">Menu {{ wp.acf["current-menu"]["title"]["rendered"] | safe }}</h2>

    <div class="container">
      <div class="section__description section__description_pad">
        {{ wp.acf["current-menu-description"] | safe }}
      </div>
    </div>

    {% set menu = wp.acf["current-menu"].acf["restaurant-menu"] %}
    {% for group in menu %}
    <section class="subsection">
      <h3 class="section__title section__title_theme_dark section__title_menu section__title_menu-group_{{ group['restaurant-menu__group-background'] }}">{{ group["restaurant-menu__group-name"] }}</h3>
      {% if group["restaurant-menu__dish-list"] %}
      {% for dish in group["restaurant-menu__dish-list"] %}
      <div class="dish">
        <p class="dish__name">{{ dish["dish-list__item-name"] }}</p>
        <p class="dish__price">{{ dish["dish-list__item-price"] }} zł</p>
      </div>
      {% endfor %}
      {% endif %}
    </section>
    {% endfor %}

    <!--
    <div class="panorama">
      <iframe class="panorama__frame" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="{{ panorama.src }}" allowfullscreen="allowfullscreen"></iframe>
    </div>
    -->
  </section>

</main>
{% endblock %}
