{% extends "layouts/page-default.html" %}

{% block body %}
<main>

  <section class="section section_theme_dark">
    <div class="container">

      {% set section = sections.features %}
      <h2 class="section__title section__title_theme_dark section__title_hidden">{{ section.title }}</h2>

      <div class="x">
      {% for paragraph in section.description %}
        <p>{{ paragraph }}</p>
      {% endfor %}
      </div>

      <ul class="list y">
        {% for item in section.list %}
        <li class="list__item list__item_image list__item_image_tick_theme_dark list__item_theme_dark">
          {{ item }}
        </li>
        {% endfor %}
      </ul>

    </div>
  </section>

  {% set section = sections.rooms %}
  {% for room in section.types %}
  <section class="section room-type">
    <a name="{{ room.id }}"></a>
    <div class="container">

      <h3 class="room-type__title">{{ room.name }}</h3>

      <div class="photo-viewer">
        {% for photo in room.photos %}
        <img class="photo-viewer__image" src="{{ photo.src }}" alt="{{ photo.alt }}">
        {% endfor %}
      </div>

      <ul class="list list_block z">
        <li class="list__item list__item_block room-property">
          <span class="room-property__label">{{ section.labels.price }}</span>
          <span class="room-property__value"> {{ room.price }} </span>
          <span class="room-property__unit">{{ section.labels.currency }}</span>
        </li>
        <li class="list__item list__item_block room-property">
          <span class="room-property__label">{{ section.labels.area }}</span>
          <span class="room-property__value"> {{ room.area }} </span>
          <span class="room-property__unit">{{ section.labels.area_unit }}</span>
        </li>
        <li class="list__item list__item_block list__item_block_slimfit room-property">
          <a class="button button_label room-reserve" href="http://www.booking.com/hotel/pl/piano.html?aid=330843;lang=pl" target="_blank">{{ section.labels.reserve }}</a>
        </li>
      </ul>

    </div>
  </section>
  {% endfor %}

</main>
{% endblock %}
