<figure class="info-bar">
    <a class="button button_more info-bar__anchor"
       data-size="{{ banner.image.width }}x{{ banner.image.height }}"
       href="{{ banner.image.src }}">
        <span class="button__content button-adv">{{ banner.button_label }}</span>
    </a>
    <figcaption class="info-bar__msg">{{ banner.description }}</figcaption>
</figure>

