<footer class="footer">

  <section class="section section_widgets">
    <div class="container">

      {% set section = sections.footer %}
      <h2 class="section__title section__title_hidden">Stopka</h2>

      <div class="box-group">
        <nav class="subsection subsection_box">
          {% set nav = section.navigation.secondary %}
          <h3 class="subsection__title subsection__title_footer">{{ nav.title }}</h3>
          <ul class="nav-list">
            {% for anchor in nav.anchors %}
            <li class="nav-list__item nav-list__item_separated nav-list__item_separator_dark">
              <a class="nav-list__anchor" href="{{ anchor.href }}">{{ anchor.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>

        <section class="subsection subsection_box">
          <h3 class="subsection__title subsection__title_footer">{{ section.news.title }}</h3>
          {% for post in section.posts %}
          <div class="fb-news">
            <time class="fb-news__datetime" datetime="{{ post.created_time }}">{{ post.created_time_formatted }}</time>
            <p class="fb-news__content">{{ post.message_formatted | safe }}</p>
          </div>
          {% endfor %}
          <!--
          {% for article in section.news.data %}
          <div class="fb-news">
            <time class="fb-news__datetime" datetime="{{ article.time.datetime }}">{{ article.time.text }}</time>
            <p class="fb-news__content">{{ article.content }}</p>
          </div>
          {% endfor %}
          -->
        </section>

        <section class="subsection subsection_box">
          <h3 class="subsection__title subsection__title_footer">{{ section.media.title }}</h3>
          <div class="fb-media my-gallery">
            {% for item in section.photos %}
            <figure class="fb-media__item">
              <a class="fb-media__a"
                 data-size="{{ item.image_width }}x{{ item.image_height }}"
                 href="{{ item.image }}">
                <img class="fb-media__img" src="{{ item.thumbnail }}" alt="">
              </a>
              <figcaption class="fb-media__description"></figcaption>
            </figure>
            {% endfor %}
          </div>
        </section>
      </div>

      <div class="box-group">

        <section class="subsection subsection_box">
          {% set regional = section.regional %}
          <h3 class="subsection__title subsection__title_footer">{{ regional.title }}</h3>
          <div class="regional-promotion">
            {% for banner in regional.items %}
            <a class="banner regional-promotion__item" href="{{ banner.anchor.href }}" title="{{ banner.anchor.title }}">
              <img class="banner__img" src="{{ banner.image.src }}" alt="{{ banner.image.alt }}" />
            </a>
            {% endfor %}
          </div>
        </section>

        <section class="subsection subsection_box">
          {% if section.ad.display %}
          <h3 class="subsection__title subsection__title_footer">{{ section.ad.title }}</h3>
          <a href="{{ section.ad.anchor.href }}" title="{{ section.ad.anchor.title }}" target="{{ section.ad.anchor.target }}" class="banner">
            <img class="banner__img" src="{{ section.ad.image.src }}" alt="{{ section.ad.image.alt }}">
          </a>
          {% endif %}
        </section>

        <section class="subsection subsection_box">
          {% set awards = section.awards %}
          <h3 class="subsection__title subsection__title_footer">{{ awards.title }}</h3>
          <div class="awards-list">
            {% for banner in awards.items %}
            <a class="awards-list__item" href="{{ banner.anchor.href }}" title="{{ banner.anchor.title }}">
              <img class="awards-list__img" src="{{ banner.image.src }}" alt="{{ banner.image.alt }}" />
            </a>
            {% endfor %}
          </div>
        </section>

      </div>

    </div>
  </section>

  <section class="section section_end-notes">
    <div class="container">

      <h2 class="section__title section__title_hidden">Uwagi końcowe</h2>

      <div class="box-group">
        <nav class="subsection subsection_box">
          {% set nav = section.navigation.policies %}
          <h3 class="subsection__title subsection__title_hidden">{{ nav.title }}</h3>

          <ul class="nav-list">
            {% for anchor in nav.anchors %}
            <li class="nav-list__item nav-list__item_vlg">
              <a class="nav-list__anchor" href="{{ anchor.href }}">{{ anchor.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>

        <nav class="subsection subsection_box">
          {% set nav = section.navigation.social %}
          <h3 class="subsection__title subsection__title_hidden">{{ nav.title }}</h3>

          <ul class="nav-list">
            {% for anchor in nav.anchors %}
            <li class="nav-list__item nav-list__item_vlg">
              <a class="nav-list__anchor {{ anchor.class }}" href="{{ anchor.href }}">{{ anchor.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>

        <section class="subsection subsection_box">
          <h3 class="subsection__title subsection__title_hidden">Copyright</h3>
          <!--<p>{{ section.copyright }}</p>-->
          <img src="/images/logotype/footer-logo.png" title="{{ section.copyright }}" alt="{{ section.copyright }}" class="footer-logo"/>
        </section>
      </div>

    </div>
  </section>

</footer>
