<header class="header header_fullscreen header_home container-t">
  {% if sections.header.banners %}
  <div class="container-tr container-tr_adv">
    <div class="container-td my-gallery">
      {% for banner in sections.header.banners %}
        {% include "partials/banner.html" ignore missing %}
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="container-tr container-tr_logotype">
    <div class="container-td" id="reservation">
      {% set section = sections.header %}
      <h1 class="logotype logotype_fullsize">
        <span class="logotype__content logotype__content_fullsize">{{ section.logo.title }} {{ section.logo.subtitle }}</span>
      </h1>

      {% set button = section.buttons.reserve %}
      <a class="button button_reserve" href="{{ button.href }}" target="_blank"><span class="button__content">{{ button.text }}</span></a>

      {% set button = section.buttons.travelguide %}
      <a class="button button_travelguide" href="{{ button.href }}"><span class="button__content">{{ button.text }}</span></a>

      {% set button = section.buttons.scroll %}
      {# <a class="button button_scroll" href="{{ button.href }}">{{ button.text }}</a> #}

      {% if section.buttons.banner.display %}
          {% set banner = section.buttons.banner %}
          <div class="my-gallery">
              <figure class="landing-banner">
                <a class="landing-banner__anchor landing-banner__anchor_{{ banner.class_mod }}"
                   data-size="{{ banner.image.width }}x{{ banner.image.height }}"
                   href="{{ banner.image.src }}">
                  <span class="landing-banner__label">{{ banner.label }}</span>
                </a>
                <figcaption class="landing-banner__description">{{ banner.description }}</figcaption>
              </figure>
          </div>
      {% endif %}

    </div>
  </div>

  <div class="container-tr container-tr_navigation">
    <div class="container-td">
      <ul class="nav-list nav-list_header-home">
        {% set nav = section.navigation.main %}
        {% for anchor in nav.anchors %}
        <li class="nav-list__item nav-list__item_header-home">
          <a class="nav-list__anchor nav-list__anchor_primary" href="{{ anchor.href }}">{{ anchor.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>
