<header class="header header_default">
  {% set section = sections.header %}

  <div class="cover cover_default cover_{{ section.id }}">
    <div class="shame_wrapper_{{ section.id }}">
      <div class="container">
        <div class="logotype logotype_basic">
          <a href="/" title="Strona główna" class="logotype__content logotype__content_basic">{{ section.logo.title }} {{ section.logo.subtitle }}</a>
        </div>

        <ul class="nav-list nav-list_header">
          {% set nav = section.navigation.main %}
          {% for anchor in nav.anchors %}
          <li class="nav-list__item nav-list__item_header">
            <a class="nav-list__anchor nav-list__anchor_primary" href="{{ anchor.href }}">{{ anchor.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <h1 class="section__title section__title_light section__title_header section__title_{{ section.id }}">
      {{ section.title }}
    </h1>
  </div>
  </div>
  <!--
  <div class="container">
    <p class="section__description section__description_standalone">{{ section.description }}</p>
  </div>
  -->
</header>
